body {
  background: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#gameCanvas {
  background: #000000;
  border: 2px solid #61ff06;
  box-shadow: 0 4px 24px rgba(0,0,0,0.3);
  display: block;
}

#scoreBoard, #lifeBoard {

  box-shadow: 2px 5px 5px rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 10px;
  background:radial-gradient(transparent,rgb(255, 176, 176));
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: fantasy;
}