body {
  background: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#gameCanvas {
  background: #000000;
  border: 2px solid #000000;
  box-shadow: 0 4px 24px rgba(0,0,0,0.3);
  display: block;
}
